<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main-wrapper">
    <app-nav></app-nav>
    <div class="page-wrapper" style="margin-top: 3%;">
        <div class="container-xl" >

        <div class="row">
            <div class="col-md-12 d-flex">
                <div class="card card-table flex-fill">
                    <!--              -->
                    <div class="row" style="margin-top: 3%;margin-left:1%;">
                        <div class="col-sm-8">
                            <h2 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                                <b>CUSTOMERS</b>
                            </h2>
                        </div>
                        <!-- <div class="col-sm-4" style="margin-left: 700px;"> -->
                        <div class="search-box">
                            <i class="material-icons">&#xE8B6;</i>
                            <input type="text" class="form-control" placeholder="Search&hellip;"
                                [(ngModel)]="filterTerm">
                        </div>
                        <!-- </div> -->
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center">
                                <thead>
                                    <tr>
                                        <th>#Customer ID </th>
                                        <th>First Name <i class="fa fa-sort"></i></th>
                                        <th>Last Name</th>
                                        <th>Email<i class="fa fa-sort"></i></th>
                                        <th>Orders Number</th>

                                        <th>Actions</th>





                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let i of users  | filter: filterTerm | paginate: { itemsPerPage: 9, currentPage: p }">
                                        <td class="text-nowrap">
                                            <div>{{i._id}}</div>
                                        </td>
                                        <td class="text-nowrap"> {{i.fname}}</td>
                                        <td class="text-nowrap">{{i.lname}}</td>
                                        <td>{{i.email}}</td>
                                        <td>
                                            <a (click)="GetUserByEmail(i.email)" style="cursor: pointer;color:#a0a5b1 ;"
                                                data-toggle="modal" data-target="#myModal">{{i.nbr}}</a>
                                        </td>
                                        <td>
                                            <a style="cursor: pointer;color: #c96;" (click)="viewProfil(i._id)"
                                                class="view" title="View" data-toggle="tooltip"><i
                                                    class="material-icons">&#xE417;</i></a>
                                            <a style="cursor: pointer;" (click)="EditUser(i.email)" class="edit"
                                                title="Edit" data-toggle="tooltip"><i
                                                    class="material-icons">&#xE254;</i></a>
                                            <a style="cursor: pointer;" (click)="Delete(i.email)"
                                                href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i
                                                    class="material-icons" data-toggle="tooltip"
                                                    title="Delete">&#xE872;</i></a>
                                            <a href="#" data-toggle="modal" (click)="getIdUser(i._id)"
                                                data-target="#exampleModal" style="color: #666;"><i
                                                    class="material-icons">group_add</i></a>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                            <div class="clearfix">
                                <nav>
                                    <div>
                                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">

                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                            </div>
                            <div class="row" style="margin-top: 2%;margin-left:1%;">
                                <div class="col-sm-8">
                                    <h2 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                                        <b> ORDERS</b>
                                    </h2>
                                </div>
                                <!-- <div class="col-sm-4" style="margin-left: 700px;"> -->
                                <div class="search-box">
                                    <i class="material-icons">&#xE8B6;</i>
                                    <input type="text" class="form-control" placeholder="Search&hellip;"
                                        [(ngModel)]="filterTermm">
                                </div>
                                <!-- </div> -->
                            </div>
                            <div class="modal-body">
                                <table class=" table table-striped table-hover ">

                                    <thead>
                                        <tr>
                                            <th>#Order_ID</th>

                                            <th>Products</th>
                                            <th>Total Price</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-status="active " *ngFor="let j of order_user  | filter: filterTermm ">
                                            <td>{{j._id}}</td>

                                            <td>
                                                <ul *ngFor="let p of j.products">
                                                    <li>{{p.name}}</li>
                                                    <!-- <li>microcontroller</li> -->
                                                </ul>
                                            </td>
                                            <td><span class="label label-success ">{{j.total_prices}}</span></td>
                                            <td>{{j.date | date}}</td>
                                            <td class=""> <span class="in-stock"
                                                    style="color: green; font-weight: bold;"
                                                    *ngIf="j.status">Delivered</span>
                                                <span class="out-of-stock"
                                                    style="color: rgb(117, 11, 11);  font-weight: bold;"
                                                    *ngIf="!j.status">Pending</span>
                                            </td>

                                        </tr>

                                        <tr data-status="active ">



                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal"
                                    style="font-size: 14px;">
                                    Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </div>
</div>

<!-- ----- add role  -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Give Role</h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="font-size: 15px; color: #000;">Are you sure you want to give Role?</p>

            </div>
            <div class="modal-footer">
                <button type="button" (click)="AddRedactor(employee)" class="btn btn-secondary" data-dismiss="modal"
                    style="font-size: 15px;">Redactor</button>
                <button type="button" (click)="AddEmployee(employee)" class="btn btn-primary"
                    style="font-size: 15px;">Employee</button>
            </div>
        </div>
    </div>
</div>



<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">

    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Delete Customer</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p style="font-size: 15px; color: #000;">Are you sure you want to delete these Records?</p>
                    <p style="color: #E34724; font-size: 15px"> This action cannot be undone ! </p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel"
                        style="font-size: 15px;">
                    <input type="submit" class="btn btn-danger" (click)="DeleteUser(deleted)" value="Delete"
                        style="font-size: 15px;">
                </div>
            </form>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>