<app-header></app-header>
<main class="main">
    <div class="page-header text-center" style="background-image:  url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title" style="font-size: 50px;">Shopping Cart</h1>
        </div>
    </div>

    <div class="page-content" style="margin-top:20px">
        <div class="cart">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <table class="table table-cart table-mobile">
                            <thead>
                                <tr>
                                    <th style="color: black;">Product</th>
                                    <th  style="color: black;">In Sale </th>
                                    <th style="color: black">Price</th>
                                    <th style="color: black">Quantity</th>
                                    <th style="color: #c96;">Total</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                <!-- <div [(ngModel)]="new_date" >{{ myDate | date:'YYYY-MM-dd'}}</div> -->
                                
                                <tr *ngFor=" let p of panier">
                                    <td class="product-col">
                                        <div class="product">
                                            <figure class="product-media">
                                               
                                                <a href="#">
                                                    <span class="product-label label-new" style="width: 20px;" *ngIf="p.solde">Sale</span>
                                                    <img src="{{p.img}}" width="80px" alt="Product image">
                                                </a>
                                            </figure>

                                            <h3 class="product-title">
                                                <a href="#">{{p.name}}</a>
                                            </h3>
                                            <!-- End .product-title -->
                                        </div>
                                        <!-- End .product -->
                                    </td>
                                    <td class="price-col" style="color:#a6c76c" *ngIf="p.solde" >${{p.new_price}}</td>
                                    <td  class="price-col" *ngIf ="!p.solde" ></td>
                                    <td class="price-col">${{p.price}}</td>
                                    <td class="quantity-col">
                                        <div class="cart-product-quantity">
                                            <a (click)='DeleteOne(p)' title="Delete one " style="cursor: pointer;">
                                                <span style="color: #bf8040;font-size: 20px;"> - </span>
                                            </a>
                                            {{p.quantity}}
                                            <a (click)='SaveInPanier(p)' style="cursor: pointer;">
                                                <span style="color: #bf8040;font-size: 18px;"> + </span>
                                            </a>
                                        </div>
                                        <!-- End .cart-product-quantity -->
                                    </td>
                                    <td class="total-col">${{p.total}}</td>
                                    <td class="remove-col"><button (click)="DeleteProduct(p)" class="btn-remove"><i
                                                class="icon-close"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- End .table table-wishlist -->

                    </div>
                    <!-- End .col-lg-9 -->
                    <aside class="col-lg-3">
                        <br>
                        <div class="summary summary-cart">
                            <h3 class="summary-title" style="color:#c96;text-align: center;">YOUR ORDERS</h3>
                            <!-- End .summary-title -->
                            <!-- End .summary-title -->
                            <br>
                            <table class="table table-summary">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor=" let p of panier">
                                        <td><a style="cursor:pointer;" (click)="viewProduct(p.name)">{{p.name}}</a></td>
                                        <td>${{p.total}}</td>
                                    </tr>
                                    <tr class="summary-total">
                                        <td>Total:</td>
                                        <td>${{price}}</td>
                                    </tr>
                                    <!-- End .summary-total -->
                                </tbody>
                            </table>
                            <!-- End .table table-summary -->

                            <a style="cursor: pointer;" href="#signin-modal" data-toggle="modal"
                                class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO PAYMENT</a>
                        </div>
                        <!-- End .summary -->



                        <a routerLink="/shop" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i
                                class="icon-refresh"></i></a>

                    </aside>
                    <!-- End .col-lg-3 -->
                </div>
                <!-- End .row -->
            </div>
            <!-- End .container -->
        </div>
        <!-- End .cart -->
    </div>
    <!-- End .page-content -->

    <!-- End .page-header -->
</main>



<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-close"></i></span>
                </button>

                <div class="form-box">
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab"
                                    aria-controls="signin" aria-selected="true">Payment</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="tab-content-5">
                            <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                aria-labelledby="signin-tab">
                                <form [formGroup]="orderForm">



                                    <div class="form-group">
                                        <label for="singin-email">Credit card number *</label>
                                        <input type="number" [(ngModel)]='order.num_cart' formControlName="num_cart"
                                            class="form-control" id="singin-email" name="singin-email" required>
                                    </div><!-- End .form-group -->
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Expires *</label>
                                            <input type="date" [(ngModel)]='order.expire' formControlName="expire"
                                                class="form-control" required>
                                        </div><!-- End .col-sm-6 -->
                                        <div class="col-sm-6">
                                            <label>CVV *</label>
                                            <input type="number" [(ngModel)]='order.cvv' formControlName="cvv"
                                                class="form-control" required>
                                        </div><!-- End .col-sm-6 -->
                                    </div>
                                    <!-- <div class="row"> -->
                                        <!-- <div class="col-sm-6"> -->
                                            <!-- <re-captcha (resolved)="resolved($event)" siteKey="6LdV3lwfAAAAAKuB-Wa3122StiirSN1XVoDMSTXQ"></re-captcha> -->
                                        <!-- </div> -->
                                        <!-- <div class="col-sm-6"></div> -->
                                    <!-- </div> -->
                                    <div style="color: red;">{{msg}}</div>
                                    <div style="color: red;">{{err}}</div>
                                    <div class="form-footer">
                                        <button type="submit" (click)="checkout()" class="btn btn-outline-primary-2">
                                            <span>Checkout</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
                                    </div><!-- End .form-footer -->
                                </form>
                                <div class="form-choice" style="margin-left: 25%;">
                                    <img src="assets/images/payments-summary.png" alt="payments cards">
                                </div>
                            </div><!-- .End .tab-pane -->







                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .modal-body -->
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->
   
</div><!-- End .modal -->
<app-mobile-menu></app-mobile-menu>
<app-footer></app-footer>