<footer class="footer mt-3" style="background-color: #333;">

    <div class="footer-middle" style="margin-top: -30px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <div class="widget widget-about">
                        <img src="assets/images/footer-min.png" class="footer-logo" alt="Footer Logo" width="110"
                            height="25">
                        <p style="font-size: 15px;">Roboshop, <br>the Robot Store For Personal and Professional Robot
                            Technology!</p>

                        <div class="social-icons">
                            <a routerLink="/error" class="social-icon" title="Facebook" ><i
                                    class="icon-facebook-f"></i></a>
                            <a routerLink="/error" class="social-icon" title="Twitter" ><i
                                    class="icon-twitter"></i></a>
                            <a routerLink="/error" class="social-icon" title="Instagram" ><i
                                    class="icon-instagram"></i></a>
                            <a routerLink="/error" class="social-icon" title="Youtube" ><i
                                    class="icon-youtube"></i></a>
                            <a routerLink="/error" class="social-icon" title="Pinterest" ><i
                                    class="icon-pinterest"></i></a>
                        </div><!-- End .soial-icons -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-12 col-lg-3 -->

                <div class="col-lg-3 col-sm-4 col-md-4">
                    <div class="widget">
                        <h4 class="widget-title" style="color: white;">useful links</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="#aboutus">About roboShop</a></li>
                            <li><a routerLink="/faq">FAQ</a></li>
                            <li><a routerLink="/contact">Contact us</a></li>
                            
                            <li><a routerLink="/view-blogs" >Blogs</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-3 -->



                <div class="col-lg-3 col-sm-4 col-md-4">
                    <div class="widget">
                        <h4 class="widget-title" style="color: white;">My Account</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a style="cursor:pointer;" (click)="User()">Profil</a></li>
                            <li><a routerLink="/cart">View Cart</a></li>
                            <li><a routerLink="/whislist">My Wishlist</a></li>
                            <li><a routerLink="/shop">Shop</a></li>
                          
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-64 col-lg-3 -->


                <div class="col-lg-3 col-sm-4 col-md-4">
                    <div class="widget">
                        <h4 class="widget-title" style="color: white;">Contact Information</h4>
                        <ul class="widget-list">
                            <li>
                                <!-- <i class="icon-map-marker"></i> -->
                              <p style="font-size:16px;">  Résidence Nejla Rue Habib Chatti Tunis 2092</p> 
                            </li>
                            <li>
                                <i class="icon-phone"></i>
                                <a href="tel:#" style="font-size:16px;">+00 000 000</a>
                            </li>
                            <li>
                                <i class="icon-envelope"></i>
                                <a href="mailto:#" style="font-size:16px;">roboshop71@gmail.com</a>
                            </li>   
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright">Copyright © 2022 <span href="" style="color:#c96 ;cursor: pointer;">ROBOSHOP</span> Store. All Rights Reserved.</p>
            <!-- End .footer-copyright -->

            <!-- <figure class="footer-payments"> -->
                <!-- <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20"> -->
            <!-- </figure> -->

        </div><!-- End .widget-about-info -->
    </div><!-- End .container -->
    <!-- End .footer-bottom -->
</footer>