<app-header></app-header>
<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
    <div class="container">
        <h1 class="page-title">Wishlist<span>Shop</span></h1>
    </div><!-- End .container -->
</div><!-- End .page-header -->

<div class="page-content">
    <div class="container">
        <table class="table table-wishlist table-mobile">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Sale</th>
                    <th>Price</th>
                    <th>Stock Status</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody *ngFor ="let i of whish">
                <tr>
                    <td class="product-col">
                        <div class="product">
                            <figure class="product-media">
                                <a style="cursor: pointer;" (click)="viewProduct(i.name)" >
                                    <img src="{{i.img}}" alt="Product image">
                                </a>
                            </figure>

                            <h3 class="product-title">
                                <a style="cursor: pointer;" (click)="viewProduct(i.name)" >{{i.name}}</a>
                            </h3><!-- End .product-title -->
                        </div><!-- End .product -->
                    </td>
                    <td class="price-col" style="color:#a6c76c" *ngIf="i.solde">Sale</td>
                    <td class="price-col"  style="color:#ef837b"   *ngIf="!i.solde">Not Saled</td>
                    <td class="price-col">${{i.price}}</td>
                    <td class="stock-col">
                        <span class="in-stock"  *ngIf="i.stock"  >In Stock</span>
                        <span class="out-of-stock" *ngIf="!i.stock">Out Of Stock</span>
                    </td>
                    <td class="action-col">
                        <button class="btn btn-block btn-outline-primary-2" (click)="SaveInPanier(i)" ><i class="icon-cart-plus"></i>Add to Cart</button>                  
                    </td>
                    <td class="remove-col"><button class="btn-remove" (click)="deleteWhish(i)"><i class="icon-close"></i></button></td>
                </tr>
            </tbody>
        </table><!-- End .table table-wishlist -->
    </div><!-- End .container -->
</div><!-- End .page-content -->
<app-mobile-menu></app-mobile-menu>
<app-footer></app-footer>