<app-header></app-header>

<div class="app-body" style="margin-top: 50px;">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div style="margin-bottom: 50px;">
                <a href="/account" class="dashboard"><i class="fa fa-chevron-circle-left fa-lg mt-4"></i> Return
                    to sign in or Sign Up</a>
            </div>
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body text-center">
                                <form [formGroup]="resetPasswordForm" (ngSubmit)="reset()">
                                    <h1 class="mb-4 float-left">Reset your password</h1>
                                    <div class="form-group mb-4">
                                        <input type="password" class="form-control" placeholder="Password"
                                            style="background: transparent;" formControlName="password"
                                            [ngClass]="{ 'is-invalid': submitted && resetPasswordForm.controls['password'].errors,
                                                     'is-valid': submitted && !resetPasswordForm.controls['password'].errors }">
                                        <div class="invalid-feedback d-block"
                                            *ngIf="submitted && resetPasswordForm.controls['password'].hasError('required')">
                                            Password is required.
                                        </div>
                                        <div *ngIf="resetPasswordForm.controls['password'].hasError('minlength')"
                                            class="invalid-feedback">
                                            Password must be more than 6 caracters please.</div>
                                    </div>
                                    <div class="form-group mb-4">

                                        <input type="password" class="form-control" placeholder="Password confirmation"
                                            autocomplete="new-password" formControlName="passwordConfirmation"
                                            [ngClass]="{'is-invalid': submitted && resetPasswordForm.controls['passwordConfirmation'].errors || resetPasswordForm.hasError('mismatch') , 'is-valid': submitted && !resetPasswordForm.controls['passwordConfirmation'].errors && !resetPasswordForm.hasError('mismatch') }">
                                        <div class="invalid-feedback d-block">
                                            <div
                                                *ngIf="submitted && resetPasswordForm.controls['passwordConfirmation'].hasError('required')">
                                                The
                                                Password is required.</div>
                                            <div
                                                *ngIf="submitted && resetPasswordForm.controls['passwordConfirmation'].hasError('minlength')">
                                                The
                                                Password must be more than 6 caracters.</div>
                                            <div *ngIf="submitted && resetPasswordForm.hasError('mismatch')">Password
                                                does not match
                                            </div>
                                        </div>
                                    </div>
                                    <div style="color: red;">{{msg}}</div>
                                    <div class="row">
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-primary float-left">reset <i
                                                    class="fa fa-sign-in"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<app-mobile-menu></app-mobile-menu>

<app-footer></app-footer>
